*{
    margin:0;
    padding:0;
}
body{
    background-image: url(Form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h5 {
    font-family: "brush script m7", lucida handwriting, cursive;
    font-size: 20pt;
    font-style: normal;
    font-weight: bold;
    color: #ccccff;
    text-align: center;
    text-decoration: none;
  }
  .reg{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    background-color: none;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
    width: 350px;
    margin-top: 50px;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: 100px;
  }

  #class{
    width:90px;
    padding:10px;
    background: gray;
    border-radius: 50%;
  }
  #sub{
    width:100px;
    padding:10px;
    color:white;
    background: rgb(0, 36, 93);

  }
