
header{
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    top: 2rem;
  }
  header h1{
    font-size: 40px;
    color:#66b3ff;
    letter-spacing: 2px;
  }
  header p{
    color:#cce6ff;
  }
P{
  color:#ADD8E6;
}
  h2{
    color:#ADD8E6;
  }
  .content{
    display: flex;
    min-height: 110vh;
  }
  .content section{
    margin-top: 8vh;
    margin-left: 20vh;
  }
  .content-form{
    margin-top: 7rem;
  }
  section i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    color: #1338BE;
    text-align: center;
  }
  .form{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
  }

  span{
    color:#ADD8E6;
  }
  
  .form .contact-form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
  }
  .form .contact-form input ~ span{
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
  }
  .form .contact-form input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
  }
  .form .contact-form textarea{
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
  }
  .form .contact-form textarea ~ span
  {
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
  }
  .form .contact-form textarea:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
  }
  .form .contact-form-button button[type=submit]{
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color:white;
    font-size: 18px;
    width: 480px;
    height: 40px;
    margin-top: -5px;
   margin-left: 20px;
  }
  .form .contact-form-button button[type=submit]:hover{
    background-color: transparent;
    color: dodgerblue;
    
  }
  
  .media{
    position: absolute;
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
  }
  .media li{
    margin: 20px 30px;
  }
  @media screen and (max-width: 900px){
    body{
        background-repeat: repeat-y;
        overflow: auto;
    }
    header{
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
    }
    .empty{
        height: 210vh;
    }
    .form{
        position: absolute;
        top: 100vh;
        margin-left: 10%;
    }
    .content-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }
    .content section{
        margin-top: 0vh;
        margin-left: 0vh;
    }
    .media{
        position: absolute;
        top: 190vh;
        right: 30px;
    }
  }
  .team{
    margin: 75px 0;
  }

  .map-box{
    position:relative;
    width:600px;
    height:500px;
    background: #fff;
    margin-left: 350px;
  }
  .map-box iframe{
    width: 100%;
    height: 100%;
  }

  h3{
    color:#ADD8E6;
  }